/*
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    padding: 25px;
    text-align: center;
    margin: 50px auto auto;
    border-radius: 15px;
}

.field {
    margin-top: 20px;
}
.field-input {
    width: 100%; !* You can adjust the width value as needed *!
}

.acceptbtn {
    background-color: #0a53be;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.button-row{
    margin-top: 15px;
}
*/

.create-post-card {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.field-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.btn.create-button {
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.create-button:disabled {
    background-color: whitesmoke;
    cursor: not-allowed;
}

.btn.create-button:hover {
    background-color: dodgerblue;
}
