@page "/CreatePost"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@inject IPostService PostService
@inject NavigationManager navMgr
@inject AuthenticationStateProvider AuthStateProvider

<div class="card">
    <h5>Create Post</h5>
        <!-- Razor component to handle authorization -->
        <AuthorizeView>
                <!-- Renders if the user is authorized -->
                <Authorized>
                    <div class="form-group field">
                        <input type="text" @bind="postTitle" placeholder="Title" @bind:event="oninput" class="field-input"/>
                    </div>

                    <div class="form-group field">
                        <textarea rows="5" @bind="postBody" placeholder="Write Here" class="field-input"></textarea>
                        @if (!string.IsNullOrEmpty(msg))
                        {
                            <label style="color: @color">@msg</label>
                        }
                    </div>

                    <div class="button-row">
                        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(postTitle) || string.IsNullOrEmpty(postBody))" class="acceptbtn">Post</button>
                    </div>
                </Authorized>
                    <!-- Renders if the user is not authorized -->
            <NotAuthorized>
                <div>
                    <span>Please <a href="/Login">log in</a> or <a href="/CreateUser">register</a> to create a post.</span>
                </div>
            </NotAuthorized>
        </AuthorizeView>
</div>

@code {
    // declare variables
    private string postTitle = "";
    private string postBody = "";
    private string msg = "";
    private string color = "";

    // method for creating a post
    private async Task Create()
    {
        // clear the message
        msg = "";
        try
        {
            // call the PostService to create a post
            await PostService.CreateAsync(new PostCreationDto(postTitle, postBody));
            postTitle = "";
            postBody = " ";
            msg = "Post successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            // set an error message based on exception
            msg = e.Message;
            color = "red";
        }
    }
}
