@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello and welcome to our ForumApp!</h1>
    <p class="welcome-text">
        This place is where you can join many discussions, share knowledge, and find answers to your questions. 
        From technology trends to lifestyle advice - we've got it all covered.
        Connect with others who are as passionate as you are! 
        Explore our forums and stay updated with the latest trends and developments. 
        Ready to get started? <a href="/Login" class="get-started-link">Login</a> or <a href="/CreateUser" class="get-started-link">create an account</a>!
    </p>