@page "/ViewPosts"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@inject IPostService PostService

<h3 style="text-align: center">Overview of all Posts</h3>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts found</span>
}
else
{
    <div class="posts-container">
        @foreach (PostModel post in posts)
        {
            <div class="post-card">
                @*<label>@post.Title</label>*@
                <a href="/ViewAPost/@post.Id"> 
                        @post.Title
                        
                    </a>
            </div>
        }
    </div>
}



@code {
    private IEnumerable<PostModel>? posts; // variable to store posts
    private string msg = ""; // variable to store error messages

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            posts = await PostService.GetPosts();  // retrieve list of posts
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message; // set an error message
        }
    }
    
    
}