@page "/ViewAPost/{id:int}"

@using global::Shared.Models

@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components  
@using global::Shared.DTOs

@inject NavigationManager navMgr
@inject IPostService postService
@inject IUserService userService


<h3> Post Details</h3>

<div class="card">
  
    @if (!string.IsNullOrEmpty(msg))
    {
        // error message if it exists
        <label style="color: red">@msg</label>
    }
    else if (post != null)   
    {
        <div class="post-content">
            <h4>@post.Title</h4>
            <p>@post.Postbody</p>
        </div>

    }

 </div>
@code {

    // declare parameters
    [Parameter]
    public int Id { get; set; }
    private ViewAPostDto post;
    private string msg = "";
    private IEnumerable<PostModel> posts;

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
// get the post details by ID
       post = await postService.GetByIdAsync(Id);
            if (post == null)
            {
                msg = "Post not found";
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
}
    