@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
                    <div class="top-links">
                        <a href="/Login" class="top-link">Login</a>
                        <a href="/" class="top-link">Log out</a>
                        <a href="/CreateUser" class="top-link">Register</a>
                    </div>
                </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
